<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Details de la Maison</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<mat-card >
  <mat-card-header>
    <mat-card-title>Promotteur: {{house.agentName}}</mat-card-title>
    <mat-card-subtitle>{{house.agent}}</mat-card-subtitle>
  </mat-card-header>
  <ion-slides>
    <ion-slide *ngFor="let photo of photos; index as position">
      <ion-img src="{{ photo.webviewPath }}"></ion-img>
    </ion-slide>
  </ion-slides>
  <mat-card-content>
    <div style="margin-bottom: 20px">{{house.houseDescription}}</div>
    <mat-divider></mat-divider>
    <div>
      <div class="description">
        <div><p>Type de Maison</p></div>
        <div>{{house.houseType}}</div>
      </div>
    </div>
    <div>
      <div class="description">
        <div><p>Ville</p></div>
        <div>{{house.houseCity}}</div>
      </div>
    </div>
    <div>
      <div class="description">
        <div><p>Prix Mensuel</p></div>
        <div>{{house.monthlyPrice}} FCFA</div>
      </div>
    </div>
    <div>
      <div class="description">
        <p>Chambres</p>
        <p>{{house.numberOfRooms}}</p>
      </div>
      <div class="description">
        <p>Salon</p>
        <p>{{house.numberOfLiveRooms}}</p>
      </div>
      <div class="description">
        <p>Douche</p>
        <p>{{house.numberOfShowers}}</p>
      </div>
      <div class="description">
        <p>Cuisine</p>
        <p>{{house.numberOfKitchen}}</p>
      </div>
      <div class="description">
        <p>Terrasse</p>
        <p>{{house.numberOfTerrace}}</p>
      </div>
      <div class="description">
        <p>Salle à manger</p>
        <p>{{house.numberOfDiningRoom}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button color="primary" mat-button> <mat-icon>thumb_up_alt</mat-icon></button>
    <button color="warn" mat-button> <mat-icon>thumb_down_alt</mat-icon></button>
    <button color="primary" mat-button> <mat-icon>sms</mat-icon></button>
  </mat-card-actions>
  <div class="footer">
    <button mat-button color="primary">Visiter</button>
  </div>
</mat-card>
</ion-content>
