.description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
