<ion-header>
  <ion-toolbar>
    <ion-title>house-detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-col>
    <div>
      <ion-text> <h1>Promotteur :</h1> {{loadedHouse.agentName}} {{loadedHouse.agent}}</ion-text>
    </div>
    <div>
      <ion-text> <h1>Maison :</h1> {{loadedHouse.agent}} situé dans la ville de {{loadedHouse.houseCity}}</ion-text>
    </div>
    <div style="display: flex">
      <div>
        <p>Details de la maison :</p>
      </div>
      <div>
        <p>{{loadedHouse.houseDetail.numberOfRooms}} chambre(s) ,
          {{loadedHouse.houseDetail.numberOfLiveRooms}} salon(s),
        {{loadedHouse.houseDetail.numberOfShowers}} Douche(s)</p><br>
        <p>{{loadedHouse.houseDetail.numberOfKitchen}} cuisine(s), {{loadedHouse.houseDetail.numberOfTerrace}} terasse(s)</p>
      </div>
    </div>
    <div>
      <ion-textarea>
        {{loadedHouse.houseDescription}}
      </ion-textarea>
    </div>

  </ion-col>
</ion-grid>
<ion-content>

</ion-content>
