.add-user{
  margin-top: 10px;
}
.house{
  display: flex;
}

mat-form-field {
    display: block;
  width: auto;
  }
.mat{
  width: 45%;
}
.mat-form{
  display: flex;
  align-content: space-evenly;
  justify-content: center
}
