<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ajouter une maison </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="add-user">
<form class="ion-text-center" #form="ngForm" (ngSubmit)="onAddHouse(form.value)">
    <div>
        <mat-form-field appearance="fill" style="width: 40%;margin-left: 10px;margin-right: 10px">
            <mat-label>Promotteur</mat-label>
            <input matInput id="agentName" name="agentName" ngModel>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 40%;margin-right: 10px">
            <mat-label>immobilier</mat-label>
            <mat-select ngModel id="agent" name="agent" >
                <mat-option *ngFor="let enter of enterprise" [value]="enter.type" >
                    {{enter.viewType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div >
        <mat-form-field appearance="fill" style="width: 40%;margin-left: 10px;margin-right: 10px">
            <mat-label>Prix Mensuel</mat-label>
            <input matInput id="monthlyPrice" name="monthlyPrice" ngModel >
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 40%;margin-right: 10px">
            <mat-label>type</mat-label>
            <mat-select ngModel id="houseType" name="houseType">
                <mat-option *ngFor="let enter of house" [value]="enter.typeHouse">
                    {{enter.viewTypeHouse}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <div>
            <p class="ion-text-center"><strong>Details de la Maison</strong></p>
            <div class="house">
            <mat-form-field appearance="fill" style="width: 40%;margin-left: 10px;">
                <mat-label>Chambre</mat-label>
                <mat-select [(value)]="room" id="room" ngModel name="room">
                    <mat-option value="option1">1</mat-option>
                    <mat-option value="option2">2</mat-option>
                    <mat-option value="option3">3</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 50%;margin-right: 10px;margin-left: 10px">
                <mat-label>Salon</mat-label>
                <mat-select [(value)]="liveRoom" id="liveRoom" ngModel name="liveRoom">
                    <mat-option value="option1">1</mat-option>
                    <mat-option value="option2">2</mat-option>
                    <mat-option value="option3">3</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
            <div class="house">
                <mat-form-field appearance="fill" style="width: 40%;margin-left: 10px;">
                    <mat-label>Cuisine</mat-label>
                    <mat-select [(value)]="kitchen" id="kitchen" name="kitchen" ngModel>
                        <mat-option value="option1">1</mat-option>
                        <mat-option value="option2">2</mat-option>
                        <mat-option value="option3">3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 50%;margin-right: 10px;margin-left: 10px">
                    <mat-label>Douche</mat-label>
                    <mat-select [(value)]="shower" id="shower" name="shower" ngModel>
                        <mat-option value="option1">1</mat-option>
                        <mat-option value="option2">2</mat-option>
                        <mat-option value="option3">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        <div class="house">
            <mat-form-field appearance="fill" style="width: 40%;margin-left: 10px;">
                <mat-label>Salle à Manger</mat-label>
                <mat-select [(value)]="diningRoom" name="diningRoom" id="dinigRoom" ngModel>
                    <mat-option value="option1">1</mat-option>
                    <mat-option value="option2">2</mat-option>
                    <mat-option value="option3">3</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 50%;margin-right: 10px;margin-left: 10px">
                <mat-label>Terasse</mat-label>
                <mat-select [(value)]="terrace" ngModel id="terrace" name="terrace">
                    <mat-option value="option1">1</mat-option>
                    <mat-option value="option2">2</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <mat-form-field appearance="fill" style="width: 40%;margin-left: 10px;margin-right: 10px">
            <mat-label>Ville</mat-label>
            <input matInput id="houseCity" name="houseCity" ngModel>
        </mat-form-field>
    </div>
    <p class="ion-text-center"><strong>Description</strong></p>
    <div>
        <mat-form-field style="width: 80%;margin: 0px 10px 10px 10px;">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Une Magnifique maison peint en " id="houseDescription"
                      name="houseDescription" ngModel></textarea>
        </mat-form-field>
    </div>
    <div style="margin-top: 20px;display: inline-flex">
       <div >
           <button mat-flat-button color="warn" type="reset" style="margin-right: 30px">Reset</button>
       </div>
        <div>
            <button mat-flat-button color="primary" type="submit"> Click to Add</button>
        </div>

    </div>
</form>
    </div>
</ion-content>
